body{
    background-color: lightblue;
    font-family: Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    height: auto;
}
.card {
    background-color: white;
    flex: 0 1 28%;
    box-shadow: 5px 5px 5px 5px gray;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 300px;

}
.header{
    border: 1px solid lightblue;

}
.padding{
    padding-bottom: 10px;
}
h2{    
    text-align: center;
}
.avail{
    background-color: darkgray;
    color: yellow;
    padding: 5px;
}
.card img{
    max-width: width 200px;
    align: center; 
    
}
.bold{
    font-weight: bold;
}

section{
    margin-left: 20px;
    margin-right: 20px;
}
.desc{
    text-align: justify;
    padding: 10px 10px;
    height: 200px;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
footer{
  font-weight: normal;  
}