body{
    background-color: pink;

}
.cards{
    display:flex;
    flex-wrap: wrap;

}
.card {
    flex: 0 1 26%;
    box-shadow: 5px 5px 5px 5px;
    padding: 10px 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;

}
img{
}


.card img{
    max-width: width 200px;
    align: center; 
    
}
 

h2{
    text-align: center;

}
.desc{
    text-align: justify;

}

.center{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}